<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="https://xxsharepicxx.s3-ap-northeast-1.amazonaws.com/css/login.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>

    <p id="title">
      SHAREPIC
    </p>

    <div id="centerArea">
     <form name="userForm" action="/Sharepic/Users/login">
        <p>USERNAME：<input type="text" name="username" placeholder="username"/></p>
        <p>PASSWORD：<input id="password" type="text" name="password" placeholder="password"/></p>
        <button type="submit" id="btn"><i class="fas fa-camera"></i></button>
      </form>
    </div>

    <p id="centerArea"><a href="/Sharepic/Users/register">新規登録はこちら</a></p>

  </body>

</html>
