<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>ログイン成功画面</title>
    <link rel="stylesheet" href="https://xxsharepicxx.s3-ap-northeast-1.amazonaws.com/css/registerSuccess.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>

    <p id="title">LOGIN SUCCESS!!</p>
    <p id="centerArea"><a href="/Sharepic/Pictures/Home">ホーム画面へ</a></p>

    <div id="imgArea"><img width="570px" height="400px" src="https://xxsharepicxx.s3-ap-northeast-1.amazonaws.com/image/img_loginSuccess.jpg"></div>


  </body>

</html>
