<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>写真ページ</title>
    <link rel="stylesheet" href="https://xxsharepicxx.s3-ap-northeast-1.amazonaws.com/css/picture.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>

    <div id="menuBox1">
      <i id="cameraBtn" class="fas fa-camera-retro"></i>SHAREPIC<i id="cameraBtn" class="fas fa-camera-retro"></i>
    </div>

    <div id="menuBox2">
      <div class="spacebox1">　</div>
      <div id="menuBox2_sub1">
        <a href="/Sharepic/Pictures/Home">HOME</a>
      </div>
      <div id="menuBox2_sub2">
        <a href="/Sharepic/Pictures/Upload">SHAREPIC</a>
      </div>
      <div id="menuBox2_sub3">
        <a href="/Sharepic/Pictures/Mypage">MYPAGE</a>
      </div>
      <div id="menuBox2_sub4">
        <a href="/Sharepic/Users/logout">LOGOUT</a>
      </div>
      <div class="spacebox1"> </div>
    </div>

    <div id="main">

      <p><img id="picture" alt="画像ファイルが大きすぎるために表示できません。" th:attr="src=@{${picture.getObjectUrl()}}"></p>
      <p>テーマ</p>
      <p th:text="${picture.getTopic()}" class="frame"></p>
      <p>説明</p>
      <p th:text="${picture.getCaption()}" class="frame"></p>
      <p>投稿者</p>
      <p th:text="${picture.getPoster()}" class="frame"></p>
      <form name="deleteForm" id="deleteForm" method="post" action="/Sharepic/Pictures/DeleteConfirm">
      	<p><button id="deleteBtn" type="button">削除する</button></p>
	  	<input type="hidden" id="sessionUser" name="sessionUser" th:attr="value=@{${sessionUser}}" />
	  	<input type="hidden" id="poster" name="poster" th:attr="value=@{${picture.getPoster()}}" />
      	<input type="hidden" id="deleteTarget" name="objectUrl" th:attr="value=@{${picture.getObjectUrl()}}" />
	  </form>
    </div>
  </body>

  <script>

    //ログインユーザーと投稿者が同じ場合に「写真を削除する」ボタンを表示させる
	const deletemBtn = document.getElementById("deleteBtn");
    deletemBtn.addEventListener("click", function(event){
		event.preventDefault();
		//投稿者＝ログインユーザーでない場合、処理を中断する
		if(document.getElementById('sessionUser').value == document.getElementById('poster').value) {
			//削除画面に遷移する
			document.deleteForm.submit();
		} else {
			alert("投稿者にのみ削除が許可されています。");
		}
	});

  </script>

</html>
