<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>新規登録画面</title>
    <link rel="stylesheet" href="https://xxsharepicxx.s3-ap-northeast-1.amazonaws.com/css/register.css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
     <div id="formArea">
        <form action="#" method="post">
            <p id="title">アカウントを登録しよう</p>
            <p>　</p>
            <p>USERNAME：　　　　<input type="text" name="username" /></p>
            <p>PASSWORD：　　　　<input type="text" name="password1" /></p>
            <p>PASSWORD(確認用)：<input type="text" name="password2" /></p>
            <p>　</p>
            <p><button id="btn">REGISTER!!</button></p>
        </form>
     </div>

  </body>

</html>
