<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>新規登録画面</title>
    <link rel="stylesheet" href="https://xxsharepicxx.s3-ap-northeast-1.amazonaws.com/css/register.css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
     <div id="formArea">
        <form action="http://localhost:8080/Sharepic/Users/registerExec" method="post" onsubmit="return checkParam();">
            <p id="title">アカウントを登録しよう</p>
            <p>　</p>
            <p>USERNAME：　　　　<input id="username" type="text" name="username" /></p>
            <p>PASSWORD：　　　　<input id="password1" type="text" name="password1" /></p>
            <p>PASSWORD(確認用)：<input id="password2" type="text" name="password2" /></p>
            <p>　</p>
            <p><button id="btn">REGISTER!!</button></p>
        </form>
     </div>

  </body>

  <script>

    function checkParam() {
      //nodeValueもtextContentもやめよう。
       if (document.getElementById("username").value.length < 8) {
        alert("ユーザ名は8文字以上入力してください。");
        return false;
      } else if (document.getElementById("password1").value.length < 8) {
        alert("パスワードを8文字以上入力してください。");
        return false;
      } else if (document.getElementById("password2").value.length < 1) {
        alert("パスワード(確認用)を入力してください。");
        return false;
      } else if (document.getElementById("password1").value != document.getElementById("password2").value) {
        alert("パスワードとパスワード(確認用)が異なります。");
        return false;
      } else {
        return true;
      }
    }

  </script>

</html>
