<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>写真投稿成功ページ</title>
    <link rel="stylesheet" href="https://xxsharepicxx.s3-ap-northeast-1.amazonaws.com/css/uploadSuccess.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>

    <div id="menuBox1">
      <i id="cameraBtn" class="fas fa-camera-retro"></i>SHAREPIC<i id="cameraBtn" class="fas fa-camera-retro"></i>
    </div>

    <div id="menuBox2">
      <div class="spacebox1">　</div>
      <div id="menuBox2_sub1">
        <a href="/Sharepic/Pictures/Home">HOME</a>
      </div>
      <div id="menuBox2_sub2">
        <a href="/Sharepic/Pictures/Upload">SHAREPIC</a>
      </div>
      <div id="menuBox2_sub3">
        <a href="/Sharepic/Pictures/Mypage">MYPAGE</a>
      </div>
      <div id="menuBox2_sub4">
        <a href="/Sharepic/Users/logout">LOGOUT</a>
      </div>
      <div class="spacebox1"> </div>
    </div>

    <div id="main">

      <p id="title">THANK YOU FOR SHARING YOUR PICTURE(:</p>
      <p id="centerArea"><a href="/Sharepic/Pictures/Home">ホーム画面へ</a></p>

      <div id="imgArea"><img width="570px" height="400px" src="https://xxsharepicxx.s3-ap-northeast-1.amazonaws.com/image/img_uploadSuccess.jpg"></div>

    </div>
  </body>

</html>
